@charset "UTF-8";

body {
    background-color: rgb(254, 254, 254);
    padding: 12rem;
}

body > .login-form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .login-form > .logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.2rem;
    font-weight: 700;
    font-size: 1.7rem;
}

/*body > .login-form > .logo-container > .logo {*/
/*    height: 2.5rem;*/
/*}*/

body > .login-form > .input-container {
    align-items: stretch;
    border: 0.0625rem solid rgb(203, 203, 203);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
}

body > .login-form > .input-container:focus-within {
    border: 0.0625rem solid var(--color-purple--);
}

/*body > .login-form > .input-container > .icon {*/
/*    width: 3rem;*/
/*    height: 2.75rem;*/
/*    align-items: center;*/
/*    background-color: rgb(249, 249, 249);*/
/*    border-right: 0.0625rem solid rgb(203, 203, 203);*/
/*    color: rgb(203, 203, 203);*/
/*    font-size: 1.125rem;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

body > .login-form > .input-container > .input {
    width: 24rem;
    padding: 0 1rem;
    height: 2.7rem;
}

body > .login-form > .sub {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > .login-form > .sub > .autosign-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    user-select: none;
}

body > .login-form > .sub > .autosign-container > .checkbox {
    display: none;
}

body > .login-form > .sub > .autosign-container > .checker {
    width: 1.125rem;
    height: 1.125rem;
    border: 0.0625rem solid rgb(203, 203, 203);
    position: relative;
}

body > .login-form > .sub > .autosign-container > .checker > .icon {
    top: calc(50% + 0.25rem);
    left: 50%;
    color: var(--color-purple--);
    font-size: 0.8rem;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
}

body > .login-form > .sub > .autosign-container > .checkbox:checked + .checker > .icon {
    top: 50%;
    opacity: 1;
}

body > .login-form > .sub > .autosign-container > .text {
    top: -0.125rem;
    margin-left: 0.5rem;
    position: relative;
    white-space: nowrap;
}

body > .login-form > .sub > .link {
    color: var(--color-purple--);
}

body > .login-form > .button {
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 0.75rem;
    padding: 0.70rem 0;
    text-align: center;
    user-select: none;
}

body > .login-form > .button.login {
    background-color: var(--color-purple--);
    color: #ffffff;
}

body > .login-form > .button.login:hover {
    filter: brightness(93%);
}

body > .login-form > .button.login:active {
    filter: brightness(90%);
}

body > .login-form > .copyright {
    font-size: 0.9rem;
    margin-top: 1.4rem;
    text-align: center;
}
body > .login-form > .copyright > a{
    color: var(--color-purple--); text-decoration: underline;
    font-weight: 400;
}