<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.junpring.scribble.mappers.IBoardMapper">
    <!-- 게시글 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals( searchType )">
                            AND `title` LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'content'.equals( searchType )">
                            AND `content` LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 -->
                <otherwise>
                    AND (
                    `title` LIKE CONCAT('%', #{keyword}, '%')
                    OR `content` LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </sql>


    <delete id="deleteArticleList1">
        DELETE
        FROM `scribble_board`.`articles`
        WHERE id = #{id}
        LIMIT 1
    </delete>

    <update id="deleteArticleList">
        UPDATE `scribble_board`.`articles`
        SET deleted_flag = true
        WHERE id = #{id}
        LIMIT 1
    </update>

    <insert id="insertArticleList"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id"
            parameterType="dev.junpring.scribble.entities.board.ArticleEntity">
        INSERT INTO `scribble_board`.`articles`(`board_code`, `user_id`, `title`, `content`, `view`)
        VALUES (#{boardCode}, #{userId}, #{title}, #{content}, #{view})
    </insert>

    <insert id="insertImage"
            parameterType="dev.junpring.scribble.entities.board.ImageEntity">
        INSERT INTO `scribble_board`.`images`(`id`, `create_at`, `file_name`, `file_type`, `data`)
        VALUES (#{id}, #{createAt}, #{fileName}, #{fileType}, #{data})
    </insert>


    <select id="selectImage"
            resultType="dev.junpring.scribble.entities.board.ImageEntity">
        SELECT `id`        AS `id`,
               `create_at` AS `createAt`,
               `file_name` AS `fileName`,
               `file_type` AS `fileType`,
               `data`      AS `data`
        FROM `scribble_board`.`images`
        WHERE `id` = #{id}
        LIMIT 1
    </select>

    <select id="selectForPrintArticle"
            resultType="dev.junpring.scribble.entities.board.ArticleEntity"
            resultMap="article">
        SELECT `A`.`id`                     AS `id`,
               `A`.`title`                  AS `title`,
               `A`.`content`                AS `content`,
               `A`.`board_code`             AS `boardCode`,
               `A`.`user_id`                AS `userId`,
               `A`.`comment_count`          AS `commentCount`,
               `A`.`view`                   AS `view`,
               `A`.`written_at`             AS `writtenAt`,
               `A`.`deleted_flag`           AS `isDeleted`,
               `B`.`name`                   AS `extra__boardCodeName`,
               `U`.`nickname`               AS `extra__userWriter`,
               `UL`.`text`                  AS `extra__userLevelText`,
               `U`.`level`                  AS `extra__userLevel`,
               IFNULL(SUM(`AL`.`point`), 0) AS `extra__like`
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_board`.`boards` AS `B`
                           ON `A`.`board_code` = `B`.`code`
                 LEFT JOIN `scribble_member`.`user` AS `U`
                           ON `A`.`user_id` = `U`.`id`
                 LEFT JOIN `scribble_member`.`user_levels` AS `UL`
                           ON `U`.level = `UL`.level
                 LEFT JOIN `scribble_board`.`article_like` AS `AL`
                           ON `A`.`id` = `AL`.`article_id`
        WHERE `A`.`id` = #{id}
        LIMIT 1
    </select>

    <select id="selectArticlesCount"
            parameterType="dev.junpring.scribble.dtos.ArticleSearchDto"
            resultType="_int">
        SELECT COUNT(*)
        FROM `scribble_board`.`articles` AS `A`
        INNER JOIN `scribble_board`.`boards` AS `B`
        ON `A`.`board_code` = `B`.`code`
        WHERE `A`.`view` >= 0
        <include refid="search"/>
    </select>

    <select id="selectUserArticlesCount"
            parameterType="dev.junpring.scribble.dtos.ArticleSearchDto"
            resultType="_int">
        SELECT COUNT(*)
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_member`.`user` AS `U`
                           ON `A`.`user_id` = `U`.`id`
        WHERE U.id = #{userId}
    </select>

    <select id="selectArticlesBoardListCount"
            parameterType="dev.junpring.scribble.dtos.ArticleSearchDto"
            resultType="_int">
        SELECT COUNT(*)
        FROM `scribble_board`.`articles` AS `A`
                 INNER JOIN `scribble_board`.`boards` AS `B`
                            ON `A`.`board_code` = `B`.`code`
        WHERE `A`.`board_code` = #{boardCode}
    </select>

    <select id="selectArticlesForBoardList"
            resultType="dev.junpring.scribble.dtos.ArticleListDto"
            resultMap="article">
        SELECT `B`.`id`                            AS `boardId`,
               `B`.`name`                          AS `extra__boardCodeName`,
               `B`.`code`                          AS `extra__boardCode`,
               `A`.`id`                            AS `id`,
               `A`.`user_id`                       AS `userId`,
               `A`.`title`                         AS `title`,
               `A`.`content`                       AS `content`,
               (SELECT COUNT(*)
                FROM `scribble_board`.`comment` AS `C`
                WHERE `A`.`id` = `C`.`article_id`) AS `commentCount`,
               `A`.`view`                          AS `view`,
               `A`.`written_at`                    AS `writtenAt`,
               `U`.`nickname`                      AS `extra__userWriter`,
               `U`.`email`                         AS `extra__userEmail`,
               `UL`.`text`                         AS `extra__userLevelText`,
               `U`.`level`                         AS `extra__userLevel`,
               IFNULL(SUM(`AL`.`point`), 0)        AS `extra__like`
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_board`.`boards` AS `B`
                           ON `A`.`board_code` = `B`.`code`
                 LEFT JOIN `scribble_board`.`article_like` AS `AL`
                           ON `A`.`id` = `AL`.`article_id`
                 LEFT JOIN `scribble_member`.`user` AS `U`
                           ON `A`.`user_id` = `U`.`id`
                 LEFT JOIN `scribble_member`.`user_levels` AS `UL`
                           ON `U`.level = `UL`.level
        WHERE `A`.`board_code` = #{boardCode}
        GROUP BY `id`
        ORDER BY `id` DESC
        LIMIT #{paginationVo.limitStart}, #{recordSize}
    </select>

    <select id="selectUserArticlesForList"
            resultType="dev.junpring.scribble.dtos.ArticleListDto"
            resultMap="article">
        SELECT `B`.`id`                            AS `boardId`,
               `B`.`name`                          AS `extra__boardCodeName`,
               `B`.`code`                          AS `extra__boardCode`,
               `A`.`id`                            AS `id`,
               `A`.`user_id`                       AS `userId`,
               `A`.`title`                         AS `title`,
               `A`.`content`                       AS `content`,
               (SELECT COUNT(*)
                FROM `scribble_board`.`comment` AS `C`
                WHERE `A`.`id` = `C`.`article_id`) AS `commentCount`,
               `A`.`view`                          AS `view`,
               `A`.`written_at`                    AS `writtenAt`,
               `U`.`nickname`                      AS `extra__userWriter`,
               `U`.`email`                         AS `extra__userEmail`,
               `UL`.`text`                         AS `extra__userLevelText`,
               `U`.`level`                         AS `extra__userLevel`,
               IFNULL(SUM(`AL`.`point`), 0)        AS `extra__like`
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_board`.`boards` AS `B`
                           ON `A`.`board_code` = `B`.`code`
                 LEFT JOIN `scribble_board`.`article_like` AS `AL`
                           ON `A`.`id` = `AL`.`article_id`
                 LEFT JOIN `scribble_member`.`user` AS `U`
                           ON `A`.`user_id` = `U`.`id`
                 LEFT JOIN `scribble_member`.`user_levels` AS `UL`
                           ON `U`.level = `UL`.level
        WHERE A.user_id = #{userId}
        GROUP BY `id`
        ORDER BY `id` DESC
        LIMIT #{paginationVo.limitStart}, #{recordSize}
    </select>


    <select id="selectFindArticlesForList"
            resultType="dev.junpring.scribble.dtos.ArticleListDto"
            resultMap="article">
        SELECT `B`.`id`                            AS `boardId`,
               `B`.`name`                          AS `extra__boardCodeName`,
               `B`.`code`                          AS `extra__boardCode`,
               `A`.`id`                            AS `id`,
               `A`.`board_code`                    AS `boardCode`,
               `A`.`user_id`                       AS `userId`,
               `A`.`title`                         AS `title`,
               `A`.`content`                       AS `content`,
               (SELECT COUNT(*)
                FROM `scribble_board`.`comment` AS `C`
                WHERE `A`.`id` = `C`.`article_id`) AS `commentCount`,
               `A`.`view`                          AS `view`,
               `A`.`written_at`                    AS `writtenAt`,
               `U`.`nickname`                      AS `extra__userWriter`,
               `U`.`email`                         AS `extra__userEmail`,
               `UL`.`text`                         AS `extra__userLevelText`,
               `U`.`level`                         AS `extra__userLevel`,
               IFNULL(SUM(`AL`.`point`), 0)        AS `extra__like`
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_board`.`boards` AS `B`
                           ON `A`.`board_code` = `B`.`code`
                 LEFT JOIN `scribble_board`.`article_like` AS `AL`
                           ON `A`.`id` = `AL`.`article_id`
                 LEFT JOIN `scribble_member`.`user` AS `U`
                           ON `A`.`user_id` = `U`.`id`
                 LEFT JOIN `scribble_member`.`user_levels` AS `UL`
                           ON `U`.level = `UL`.level
        WHERE `A`.`view` >= 0
        <include refid="search"/>
        GROUP BY `id`
        ORDER BY `id` DESC
        LIMIT #{paginationVo.limitStart}, #{recordSize}
    </select>

    <select id="selectHomeArticleList"
            parameterType="dev.junpring.scribble.entities.board.BoardEntity"
            resultType="dev.junpring.scribble.entities.board.ArticleEntity"
            resultMap="article">
        SELECT `B`.`id`                            AS `boardId`,
               `B`.`code`                          AS `boardCode`,
               `B`.`name`                          AS `name`,
               `A`.`id`                            AS `id`,
               `A`.`user_id`                       AS `userId`,
               `A`.`title`                         AS `title`,
               `A`.`content`                       AS `content`,
               (SELECT COUNT(*)
                FROM `scribble_board`.`comment` AS `C`
                WHERE `A`.`id` = `C`.`article_id`) AS `commentCount`,
               `A`.`view`                          AS `view`,
               `A`.`written_at`                    AS `writtenAt`,
               IFNULL(SUM(`AL`.`point`), 0)        AS `extra__like`
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_board`.`boards` AS `B`
                           ON `A`.`board_code` = `B`.`code`
                 LEFT JOIN `scribble_board`.`article_like` AS `AL`
                           ON `A`.`id` = `AL`.`article_id`
        WHERE `B`.id = #{id}
        GROUP BY `A`.`id`
        ORDER BY `A`.`id` DESC
        LIMIT 5
    </select>

    <select id="selectArticle" resultMap="article">
        SELECT `A`.`id`         AS `id`,
               `A`.`written_at` AS `writtenAt`,
               `A`.`title`      AS `title`,
               `A`.`content`    AS `content`,
               `A`.`user_id`    AS `userId`,
               `A`.`view`       AS `view`
        FROM `scribble_board`.`articles` AS `A`
        WHERE `A`.`id` = #{id}
    </select>

    <select id="selectBoardByCode"
            parameterType="dev.junpring.scribble.entities.board.BoardEntity"
            resultType="dev.junpring.scribble.entities.board.BoardEntity">
        SELECT `id`          AS `id`,
               `code`        AS `code`,
               `name`        AS `name`,
               `list_level`  AS `listLevel`,
               `read_level`  AS `readLevel`,
               `write_level` AS `writeLevel`,
               reply_level   AS `commentLevel`
        FROM `scribble_board`.`boards`
        WHERE `code` = #{code}
        LIMIT 1
    </select>

    <select id="selectBoardList"
            parameterType="dev.junpring.scribble.entities.board.BoardEntity"
            resultType="dev.junpring.scribble.entities.board.BoardEntity">
        SELECT `id`          AS `id`,
               `code`        AS `code`,
               `name`        AS `name`,
               `list_level`  AS `listLevel`,
               `read_level`  AS `readLevel`,
               `write_level` AS `writeLevel`,
               reply_level   AS `commentLevel`
        FROM `scribble_board`.`boards`
        ORDER BY `id`
    </select>

    <update id="updateArticle"
            parameterType="dev.junpring.scribble.entities.board.ArticleEntity">
        UPDATE `scribble_board`.`articles`
        SET `title`   = #{title},
            `content` = #{content}
        WHERE `id` = #{id}
          AND `user_id` = #{userId}
        LIMIT 1
    </update>

    <update id="updateViewCount">
        UPDATE `scribble_board`.`articles`
        SET `view` = `view` + 1
        WHERE id = #{id}
    </update>

    <update id="updateCommentCount">
        UPDATE `scribble_board`.`articles`
        SET comment_count =
                (
                    (SELECT COUNT(*)
                     FROM `scribble_board`.`comment` AS `C`
                     WHERE #{id} = `C`.`article_id`))
        WHERE id = #{id}
    </update>

    <update id="updateLikeCount">
        UPDATE `scribble_board`.`articles`
        SET like_count =
                (SELECT IFNULL(SUM(`AL`.`point`), 0)
                 FROM `scribble_board`.`article_like` AS `AL`
                 WHERE #{id} = `AL`.`article_id`)
        WHERE id = #{id}
    </update>

    <delete id="deleteCommentList">
        DELETE
        FROM `scribble_board`.`comment`
        WHERE id = #{id}
        LIMIT 1
    </delete>

    <insert id="writeArticleReply"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id"
            parameterType="dev.junpring.scribble.dtos.ArticleCommentDto">
        INSERT INTO `scribble_board`.`comment`
        SET `id`           = #{id},
            `content`      = #{content},
            `user_id`      = #{userId},
            `article_id`   = #{articleId},
            `reply_id`     = #{replyId},
            `deleted_flag` = #{isDeleted}
    </insert>

    <select id="selectForPrintArticleRepliesFrom" resultMap="articleReply">
        SELECT `AC`.`id`           AS `id`,
               `AC`.`user_id`      AS `userId`,
               `AC`.`article_id`   AS `articleId`,
               `AC`.`reply_id`     AS `replyId`,
               `AC`.`content`      AS `content`,
               `AC`.`written_at`   AS `writtenAt`,
               `AC`.`modified_at`  AS `modifiedAt`,
               `AC`.`deleted_flag` AS `isDeleted`,
               `U`.`nickname`      AS `extra__userWriter`,
               `U`.`email`         AS `extra__userEmail`
        FROM `scribble_board`.`comment` AS `AC`
                 INNER JOIN `scribble_member`.`user` AS `U`
                            ON `AC`.`user_id` = `U`.`id`
        WHERE `AC`.`article_id` = #{articleId}
    </select>

    <select id="selectArticleReply" resultMap="articleReply">
        SELECT `AC`.`id`           AS `id`,
               `AC`.`written_at`   AS `writtenAt`,
               `AC`.`content`      AS `content`,
               `AC`.`user_id`      AS `userId`,
               `AC`.`deleted_flag` AS `isDeleted`
        FROM `scribble_board`.`comment` AS `AC`
        WHERE `AC`.`id` = #{id}
    </select>

    <update id="updateArticleReply"
            parameterType="dev.junpring.scribble.dtos.ArticleCommentDto">
        UPDATE scribble_board.comment
        <set>
            <if test="content != null">content = #{content}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateDeletedReply"
            parameterType="dev.junpring.scribble.dtos.ArticleCommentDto">
        UPDATE scribble_board.comment
        SET deleted_flag = #{isDeleted}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteArticleReply">
        DELETE
        FROM `scribble_board`.`comment`
        WHERE id = #{id}
        LIMIT 1
    </delete>

    <insert id="insertLikeArticle">
        INSERT INTO `scribble_board`.`article_like`
        SET `reg_date`   = NOW(),
            `article_id` = #{id},
            `user_id`    = #{userId},
            `point`      = 1
    </insert>

    <select id="selectLikePointByUserId" resultType="_int">
        SELECT IFNULL(SUM(`AL`.`point`), 0) AS `point`
        FROM `scribble_board`.`article_like` AS `AL`
        WHERE `AL`.`article_id` = #{id}
          AND AL.`user_id` = #{userId}
    </select>

    <select id="selectLikePoint" resultType="_int">
        SELECT IFNULL(SUM(`AL`.`point`), 0) AS `point`
        FROM `scribble_board`.`article_like` AS `AL`
        WHERE `AL`.`article_id` = #{id}
    </select>

    <delete id="deleteCancelLikeArticle">
        DELETE
        FROM `scribble_board`.`article_like`
        WHERE `article_id` = #{id}
          AND user_id = #{userId}
    </delete>

    <select id="selectRcmdArticles"
            resultType="dev.junpring.scribble.dtos.ArticleListDto"
            resultMap="article">
        SELECT `B`.`id`                            AS `boardId`,
               `B`.`name`                          AS `extra__boardCodeName`,
               `B`.`code`                          AS `extra__boardCode`,
               `A`.`id`                            AS `id`,
               `A`.`user_id`                       AS `userId`,
               `A`.`title`                         AS `title`,
               `A`.`content`                       AS `content`,
               (SELECT COUNT(*)
                FROM `scribble_board`.`comment` AS `C`
                WHERE `A`.`id` = `C`.`article_id`) AS `commentCount`,
               `A`.`view`                          AS `view`,
               `A`.`written_at`                    AS `writtenAt`,
               `U`.`nickname`                      AS `extra__userWriter`,
               `U`.`email`                         AS `extra__userEmail`,
               IFNULL(SUM(`AL`.`point`), 0)        AS `extra__like`
        FROM `scribble_board`.`articles` AS `A`
                 LEFT JOIN `scribble_board`.`boards` AS `B`
                           ON `A`.`board_code` = `B`.`code`
                 LEFT JOIN `scribble_board`.`article_like` AS `AL`
                           ON `A`.`id` = `AL`.`article_id`
                 LEFT JOIN `scribble_member`.`user` AS `U`
                           ON `A`.`user_id` = `U`.`id`
        WHERE `A`.`view` >= 50
          AND `written_at` >= date_add(NOW(), interval -1 WEEK)
          AND `A`.`like_count` >= 2
        GROUP BY `A`.`id`
        ORDER BY `A`.`id`
                DESC
        LIMIT 10
    </select>


    <!--    AND A.written_at >= DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')-->

    <resultMap type="dev.junpring.scribble.entities.board.ArticleEntity"
               id="article">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="boardCode" column="boardCode"/>
        <result property="userId" column="userId"/>
        <result property="commentCount" column="commentCount"/>
        <result property="view" column="view"/>
        <result property="writtenAt" column="writtenAt"/>
        <result property="isDeleted" column="isDeleted"/>
        <association property="extra" javaType="map">
            <result property="boardCodeName" column="extra__boardCodeName"/>
            <result property="boardCode" column="extra__boardCode"/>
            <result property="userWriter" column="extra__userWriter"/>
            <result property="likePoint" column="extra__like"/>
            <result property="userEmail" column="extra__userEmail"/>
            <result property="userLevelText" column="extra__userLevelText"/>
            <result property="userLevel" column="extra__userLevel"/>
        </association>
    </resultMap>

    <resultMap type="dev.junpring.scribble.dtos.ArticleCommentDto"
               id="articleReply">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="articleId" column="articleId"/>
        <result property="replyId" column="replyId"/>
        <result property="content" column="content"/>
        <result property="writtenAt" column="writtenAt"/>
        <result property="modifiedAt" column="modifiedAt"/>
        <result property="isDeleted" column="isDeleted"/>
        <association property="extra" javaType="map">
            <result property="userWriter" column="extra__userWriter"/>
            <result property="userEmail" column="extra__userEmail"/>
        </association>
    </resultMap>
</mapper>