<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 읽기</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/detail.css}">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
    <script th:src="@{/board/resources/scripts/detail.js}" defer></script>
    <script th:src="@{/resources/scripts/common.js}" defer></script>
    <!--    <script th:if="${articleListVo != null && articleListVo.getResult().name().equals('FAILURE')}">-->
    <!--        alert('해당 게시물은 존재하지 않습니다.');-->
    <!--        window.history.back();-->
    <!--    </script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script th:inline="javascript">
        function ArticleReply__submitWriteForm(form) {
            form.content.value = form.content.value.trim();
            if (form.content.value.length === 0) {
                alert('댓글을 입력해 주세요.');
                form.content.focus();
                return;
            }
            if ([[${userEntity}]] == null) {
                alert("로그인 후 이용해 주세요.");
                location.replace('/user/login');
            } else {
                $.ajax({
                    url: './postWriteReply',
                    type: 'POST',
                    data: {
                        'articleId': param.id,
                        'content': form.content.value
                    },
                    dataType: 'json',
                    success: function (data) {
                        form.content.value = '';
                        ArticleReply__loadList();
                        if (data.resultCode.substring(0, 2) === 'S-') {
                            alert(data.msg);
                        }
                    },
                    error: function () {
                        alert('댓글 작성 도중 오류가 발생하였습니다.\n 잠시 후 다시 시도해주세요,');
                        console.log("ajax 통신 실패");
                    }
                });
            }


        }
    </script>

    <script>
        function ArticleReply__enableModifyMode(obj) {
            let $clickedBtn = $(obj);
            let $rArea = $clickedBtn.closest('.reply-area');
            let $rContent = $rArea.find('.reply-content');
            let $textarea = $rArea.find('form textarea');

            $textarea.val($rContent.text().trim());
            $rArea.attr('data-modify-mode', 'Y');
            clearInterval(ArticleReplyInterval);
        }

        function ArticleReply__disableModifyMode(obj) {
            let $clickedBtn = $(obj);
            let $rArea = $clickedBtn.closest('.reply-area');
            $rArea.attr('data-modify-mode', 'N');
            ArticleReplyInterval = setInterval(function () {
                ArticleReply__loadList();
            }, 1000);
        }

        function ArticleReply__submitModifyReplyForm(form) {
            form.content.value = form.content.value.trim();
            let content = form.content.value;
            let $rArea = $(form).closest('.reply-area');
            let replyId = parseInt($rArea.attr('data-article-reply-id'));

            if (form.content.value.length === 0) {
                alert('댓글을 입력해주세요.');
                form.content.focus();
                return false;
            }
            $rArea.attr('data-loading', 'Y');
            $rArea.attr('data-loading-modify', 'Y');

            $.ajax({
                url: './postModifyReply',
                type: 'POST',
                data: {
                    'id': replyId,
                    'content': content
                },
                dataType: 'json',
                success: function (data) {
                    $rArea.attr('data-loading', 'N');
                    $rArea.attr('data-loading-modify', 'N');
                    ArticleReply__disableModifyMode(form);
                    ArticleReply__loadList();

                    if (data.resultCode.substring(0, 2) === 'S-') {
                        let $rContent = $rArea.find('.reply-content');
                        let $textarea = $rArea.find('form textarea');
                        alert(data.msg);
                        $rContent.text($textarea.val());
                    } else {
                        if (data.msg) {
                            alert(data.msg);
                        }
                    }
                },
                error: function () {
                    alert('알 수 없는 오류가 발생하였습니다.\n 잠시 후 다시 시도해주세요.');
                    console.log("ajax 통신 실패");
                }
            });
        }
    </script>
    <script>
        function ArticleReply__delete(obj) {
            let $clickedBtn = $(obj);
            let $rArea = $($clickedBtn).closest('.reply-area');
            let replyId = parseInt($rArea.attr('data-article-reply-id'));
            $rArea.attr('data-loading', 'Y');
            $rArea.attr('data-loading-delete', 'Y');
            clearInterval(ArticleReplyInterval);
            $.ajax({
                url: './postDeleteReply',
                type: 'POST',
                data: {
                    'id': replyId
                },
                dataType: 'json',
                success: function (data) {
                    $rArea.attr('data-loading', 'N');
                    $rArea.attr('data-loading-delete', 'N');
                    if (data.resultCode.substring(0, 2) === 'S-') {
                        alert(data.msg);
                        $rArea.remove();
                        ArticleReply__loadList();
                        ArticleReplyInterval = setInterval(function () {
                            ArticleReply__loadList();
                        }, 1000);
                    } else {
                        if (data.msg) {
                            alert(data.msg);
                        }
                    }
                },
                error: function () {
                    alert('알 수 없는 오류가 발생하였습니다.\n 잠시 후 다시 시도해주세요.');
                    console.log("ajax 통신 실패");
                }
            });
        }
    </script>
    <script th:inline="javascript">
        let param = [(${paramJson})];
        let id = [[${articleListDto.id}]];
        let LoginedUserId = [[${userEntityId}]];
        let ArticleListWrittenAt = [[${articleListDto.writtenAt}]];
        let ArticleReplyInterval;
        let ArticleReply__$listTbody;
        let ArticleReply__lastLoadedArticleReplyId = 0;
        let likePoint = [[${likeUserPoint}]];


        function ArticleReply__loadList() {
            $.ajax({
                url: './getForPrintArticleRepliesRs',
                type: 'GET',
                data: {
                    'id': param.id,
                    // 'ajax': 'Y'
                },
                dataType: 'json',
                success: function (data) {
                    let $rBox = $(".reply-box");
                    let $rCountA = $('.reply-count-a');
                    let $rCountB = $('.reply-count-b');

                    if (data == '') { // 조회할 댓글이 없는 경우
                        $rBox.html("<h3 class='reply-empty'>등록된 댓글이 없습니다.</h3>");
                        $rCountA.html(0);
                        $rCountB.html('댓글 ' + 0 + '개');
                    } else {
                        $rBox.html(''); // 기존 댓글 목록 삭제
                        // $.each(data, function (i) {
                        //     ArticleReply__drawReply(data[i]);
                        //     $rCount.html('댓글 ' + data.length + '개');
                        // });
                        for (let i = 0; i < data.length; i++) {
                            $rCountA.html(data.length);
                            $rCountB.html('댓글 ' + data.length + '개');
                            let articleReply = data[i];
                            ArticleReply__drawReply(articleReply);
                        }
                    }
                },
                error: function () {
                    alert('알 수 없는 오류가 발생하였습니다.\n 잠시 후 다시 시도해주세요.');
                    console.log("ajax 통신 실패");
                }
            });
        }


        function ArticleReply__drawReply(articleReply) {

            let html = $('.template-box-1').html();
            html = replaceAll(html, "{$번호}", articleReply.id);
            html = replaceAll(html, "{$날짜}", timeForToday(articleReply.writtenAt));
            html = replaceAll(html, "{$작성자}", articleReply.extra.userWriter);
            html = replaceAll(html, "{$이메일}", maskingName(articleReply.extra.userEmail));
            html = replaceAll(html, "{$내용}", articleReply.content);

            // let html = '';
            //
            // html = '<ul class="reply-area" data-article-reply-id="' + articleReply.id + '">';
            // html += '<ul class="reply-first-line">'
            // html += '<li class="reply-writer">' + articleReply.extra.userWriter + '</li>';
            // html += '<li> · </li>'
            // html += '<li class="reply-email">' + maskingName(articleReply.extra.userEmail) + '</li>';
            // html += '</ul>'
            // html += '<li class="reply-content">' + articleReply.content + '</li>';
            //
            // html += '<ul class="reply-second-line">'
            // html += '<li class="reply-written-at">' + timeForToday(articleReply.writtenAt) + '</li>';
            // html += '<li class="reply-btn">';
            // html += '<a href="#">삭제</a>';
            // html += '<a href="#">수정</a>';
            // html += '</li>';
            // html += '</ul>';
            // html += '</ul>';

            ArticleReply__$listTbody.append(html)
        }

        $(function () {
            ViewArticle3__updateLikePoint();

            $('.article-written-at').html(timeForToday(ArticleListWrittenAt))

            ArticleReply__$listTbody = $('.reply-wrap > .reply-box');
            ArticleReply__loadList();
            // 1초마다 댓글 갱신
            ArticleReplyInterval = setInterval(function () {
                ArticleReply__loadList();
            }, 1000);


        });
    </script>

    <script th:inline="javascript">
        function ViewArticle3__updateLikePoint() {
            if (likePoint > 0) {
                $('.cancel-like').html('좋아요 취소');
                $('.do-like').html('');

            } else {
                $('.cancel-like').html('');
                $('.do-like').html('좋아요');
            }
        }

        function ViewArticle1__updateLikePoint(likePoint) {
            $('.article--like-point').empty().append(likePoint);
        }
        function ViewArticle2__updateLikePoint(likeUserPoint) {
            if (likeUserPoint > 0) {
                $('.cancel-like').html('좋아요 취소');
                $('.do-like').html('');

            } else {
                $('.cancel-like').html('');
                $('.do-like').html('좋아요');
            }
        }

        function callInsertLike() {
            if ([[${userEntity}]] == null) {
                alert("로그인 후 이용해 주세요.");
                location.replace('/user/login');
            } else {
                $.ajax({
                    url: './postInsertLike',
                    type: 'POST',
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.resultCode.substr(0, 2) === 'S-') {
                            ViewArticle1__updateLikePoint(data.likePoint);
                            ViewArticle2__updateLikePoint(data.likeUserPoint);

                        } else {
                            if (data.msg) {
                                alert(data.msg);
                            }
                        }
                    },
                    error: function () {
                        alert('알 수 없는 오류가 발생하였습니다.\n 잠시 후 다시 시도해주세요.');
                        console.log("ajax 통신 실패");
                    }
                });
            }
        }

        function callDoCancelLike() {
            if ([[${userEntity}]] == null) {
                alert("로그인 후 이용해 주세요.");
                location.replace('/user/login');
            } else {
                $.ajax({
                    url: './postDeleteLike',
                    type: 'POST',
                    data: {
                        'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.resultCode.substr(0, 2) === 'S-') {
                            ViewArticle1__updateLikePoint(data.likePoint);
                            ViewArticle2__updateLikePoint(data.likeUserPoint);
                        } else {
                            if (data.msg) {
                                alert(data.msg);
                            }
                        }
                    },
                    error: function () {
                        alert('알 수 없는 오류가 발생하였습니다.\n 잠시 후 다시 시도해주세요.');
                        console.log("ajax 통신 실패");
                    }
                });
            }
        }
    </script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<section class="section">
    <div class="article-head-wrap">
        <div class="article-head">
            <a th:href="@{/board/list/{code}(code=${articleListDto.getBoardCode()})}"
               th:text="${articleListDto.extra.boardCodeName}"
               class="article-board"></a>
            <a th:text="${articleListDto.getTitle()}" class="article-title"></a>
        </div>

        <div class="article-body">
            <a th:text="${articleListDto.extra.userWriter}" class="article-user"></a>
            <a class="line" href="#">∣</a>
            <a class="article-written-at"></a>
        </div>

        <div class="article-foot">
            <a href="#" class="cell col4">
                <img class="icon" src="/resources/images/comment-purple.png" alt="댓글">
                <span class="reply-count-a count"></span>
            </a>
            <a href="#" class="cell col5">
                <img class="icon" src="/resources/images/view-purple.png" alt="조회수">
                <span th:text="${articleListDto.view}" class="view count"></span>
            </a>
            <span class="info-fnc">
                <a class="more">⋯</a>
                <div class="more-popper">
                    <ul class="url-link">
                        <li><a class="url-link-copy">링크복사</a></li>
                        <li th:if="${userEntity != null && articleListDto.getUserId() == userEntity.getId()}">
                            <a class="modify-button" th:href="@{/board/modify (id=${articleListDto.getId()})}">수정</a>
                        </li>
                        <li th:if="${userEntity != null && articleListDto.getUserId() == userEntity.getId()}">
                            <a id="delete" class="delete-button"
                               th:href="@{/board/delete (id=${articleListDto.getId()})}">삭제</a>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
    </div>

    <div class="article-content">
        <span th:utext="${articleListDto.getContent()}"></span>
        <div class="article-info">
            <a class="btn do-like" onclick="callInsertLike();">
                <img class="icon" th:src="@{../resources/images/like-purple.png}" alt="공감">
                <span class="article--like-point" th:text="${articleListDto.extra.likePoint}"></span>
            </a>
            <a class="btn cancel-like" onclick="callDoCancelLike();">
                <img class="icon" th:src="@{../resources/images/like-purple.png}" alt="공감">
                <span class="article--like-point" th:text="${articleListDto.extra.likePoint}"></span>
            </a>

            <a class="btn cmt">
                <img class="icon" th:src="@{../resources/images/comment-purple.png}" alt="댓글">
                <span class="reply-count-a count"></span>
            </a>

<!--            <a class="do-like" href="#" onclick="callInsertLike();"></a>-->
<!--            <a class="cancel-like" href="#" onclick="callDoCancelLike();"></a>-->
        </div>

    </div>
</section>
<div class="reply-wrap">
    <h2 class="reply-count-b"></h2>
    <form name="form" onsubmit="ArticleReply__submitWriteForm(this); return false;">
        <textarea spellcheck="false" maxlength="300" class="content" name="content"
                  placeholder="댓글을 입력해주세요."></textarea>
        <input class="write-reply" type="submit" value="작성">
    </form>

    <div class="reply-box">

    </div>
</div>

<div style="display: none" class="template-box-1">
    <ul class="reply-area" data-article-reply-id="{$번호}">
        <ul class="reply-first-line">
            <li class="reply-writer">{$작성자}</li>
            <li> ·</li>
            <li class="reply-email">{$이메일}</li>
        </ul>
        <li class="reply-content modify-mode-none">{$내용}</li>
        <div class="modify-mode-block">
            <form onsubmit="ArticleReply__submitModifyReplyForm(this); return false;">
                <textarea style="width: 100%; height: 5rem; margin-top: 0.6rem" name="content"
                          spellcheck="false">{$내용}</textarea>
                <input class="loading-modify-inline a" type="submit" value="수정">
            </form>
        </div>
        <ul class="reply-second-line">
            <li th:if="${userEntity != null}" class="reply-btn">
                <span class="loading-modify-msg">수정 중입니다....</span>
                <span class="loading-delete-msg">삭제 중입니다....</span>
                <a class="modify-button modify-mode-none"
                   onclick="ArticleReply__enableModifyMode(this); return false;">수정</a>
                <a class="modify-button modify-mode-inline"
                   onclick="ArticleReply__disableModifyMode(this); return false;">수정취소</a>
                <a class="delete-button loading-none"
                   onclick="if (confirm('정말 삭제하시겠습니까?')) {ArticleReply__delete(this);} return false;">삭제</a>
            </li>
            <li class="reply-written-at">{$날짜}</li>
        </ul>
    </ul>
</div>

<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>