<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 수정</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/write.css}">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/board/resources/scripts/modify.js}"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<form id="main" class="main" method="post">
    <label class="label">
        <div class="category" th:text="${articleListVo.extra.boardCodeName}"></div>
        <input class="input" th:value="${articleListVo.getTitle()}" autofocus  maxlength="40" name="title" placeholder="글 제목을 입력해주세요." type="text" spellcheck="false">

    </label>
    <label class="label">
        <textarea class="editor" name="content" id="editor" th:text="${articleListVo.getContent()}" spellcheck="false"></textarea>
    </label>
    <div class="buttons">
        <input id="cancel-button" class="button white" type="button" value="돌아가기">
        <input class="button purple" type="submit" value="수정하기">
    </div>
</form>
<div class="loader-container">
    <div class="loader"></div>
</div>
</body>
</html>