<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품제목</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/p-detail.css}">
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="detail-wrap">
    <div class="detail-img">
        <img th:src="@{../resources/images/detail-img.jfif}" alt="상품이미지">

    </div>
    <a href="#" class="detail-profile">
        <img th:src="@{../resources/images/my.png}">
        <ul>
            <li class="nickname">영준맨</li>
            <li class="address">용인시 수지구 죽전1동</li>
        </ul>

        <div class="profile-manner">
            <div class="meters">
                <div class="bar">

                </div>
                <span>매너온도</span>

            </div>

        </div>
    </a>
    <div class="detail-area">
        <h2 class="detail-title">포트메리온 그릇 필요하신 분 가져가세요~</h2>
        <span class="detail-address">유아동 ∙ </span>
        <span class="write-at">21시간 전</span>
        <div class="price">50,000원</div>
        <p>10년 전에 홈쇼핑에서 구입했던 그릇인데
            이제 사용하지 않아 판매해요~</p>
        <div class="detail-count">
            <span>관심 26 ∙</span>
            <span>채팅 34 ∙</span>
            <span>조회 835</span>
            <div>신고하기</div>
        </div>


        <div class="detail-btn">
            <a class="cart btn" href="#">
                <i class="fa-solid fa-heart"></i>
                 찜 9
            </a>

            <a class="talk btn" href="#">
                <i class="fa-solid fa-comment"></i>
                 피망톡
            </a>
        </div>
    </div>

    <div class="detail-hot-more">
        <h2>피망마켓 인기중고</h2>
        <a class="more" href="#">더 보기</a>
    </div>

    <section class="detail-hot-wrap">
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>

        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
        <article class="card">
            <a href="#" class="card-link">
                <div class="card-photo">
                    <img th:src="@{..//resources/images/냉장고.jfif}" alt="">
                </div>
                <div class="card-desc">
                    <h2 class="card-title">딤채 김치냉장고</h2>
                    <div class="card-price">100,000원</div>
                    <div class="card-region-name">충북 청주시 서원구 사직1동</div>
                    <div class="card-counts">
                        <span>관심 3 ∙</span>
                        <span>채팅 17</span>
                    </div>
                </div>
            </a>
        </article>
    </section>
</section>
</body>
</html>