<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/header.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/article.css}">
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>

<style>
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pagination > li {
        margin: 0.5rem;
    }

    body > .section > h1 {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 2.4rem;
    }

    body > .section > h1 > span {
        font-weight: 300;
    }

    body > .section > .state {
        font-weight: 400;
        margin-bottom: 0.8rem;
    }

    body > .section > .result-none {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 8rem;
    }

    body > .section > .result-none > p {
        font-weight: 500;
        font-size: 1.8rem;
    }

</style>

<section class="section">
    <h1>
        <strong th:text="${params.keyword}"></strong>
        <span>검색결과</span>
    </h1>

    <div class="state" th:text="'전체 '+ '(' + ${articlesResponse.paginationVo.totalRecordCount} + ')'"></div>

    <!--
        <aside class="aside">
            <a th:href="@{/ (boardCode='')}" class="category">전체 보기</a>
            <a th:each="boardCode : ${boardEntities}" th:text="${boardCode.getName()}" th:href="@{/ (category=${boardCode.code})}" class="category" style="margin-left: 1rem"></a>
        </aside>
    -->

    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성일</th>
            <th>추천</th>
            <th>댓글</th>
            <th>조회</th>
        </tr>
        </thead>

        <tbody>
        <tr class="article" th:each="article : ${articlesResponse.list}">
            <td th:text="*{article.getId()}"></td>
            <td class="title">
                <a class="category" th:href="@{/board/detail/{id}(id=*{article.getId()})}"
                   th:text="'[' + *{article.extra.boardCodeName} + ']'"></a>
                <a th:href="@{/board/detail/{id} (id=*{article.getId()})}"
                   th:text="*{article.title}"></a>
                <a th:href="@{/board/detail/{id} (id=*{article.getId()})}"
                   class="content" th:utext="*{article.content}"></a>
            </td>
            <td th:if="${article.extra.userLevel < 10}"
                th:text="${article.extra.userWriter}"></td>
            <td th:if="${article.extra.userLevel > 10}"
                th:text="${article.extra.userLevelText}"></td>


            <td class="write-at" th:text="*{#dates.format(article.getWrittenAt(), 'yy.MM.dd HH:mm')}"></td>
            <td>
                <a th:href="@{/board/detail/{id} (id=${article.getId()})}" class="cell col1">
                    <img class="icon" th:src="@{/resources/images/like-purple.png}" alt="좋아요">
                    <span th:text="*{article.extra.likePoint}" class="count"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/board/detail/{id} (id=${article.getId()})}" class="cell col2">
                    <img class="icon" th:src="@{/resources/images/comment-purple.png}" alt="댓글수">
                    <span th:text="*{article.commentCount}" class="count"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/board/detail/{id} (id=${article.getId()})}" class="cell col3">
                    <img class="icon" th:src="@{/resources/images/view-purple.png}" alt="조회수">
                    <span th:text="*{article.view}" class="count"></span>
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="result-none" th:if="${articlesResponse.list.size() == 0}">
        <p>검색결과가 없습니다!</p>
        검색할 단어를 변경하거나, 단어의 철자가 정확한지 확인해 보세요.
    </div>

    <ul class="pagination">
        <li>
            <a th:if="${params.paginationVo.existPrevPage}"
               th:href="@{/board/search (page=${params.paginationVo.minPage}, recordSize=${params.recordSize},pageSize=${params.pageSize}, keyword=${params.keyword}, searchType=${params.searchType})}">
                <span>&laquo;</span>
            </a>
        </li>
        <li>
            <a th:if="${params.paginationVo.existPrevPage}"
               th:href="@{/board/search (page=${params.paginationVo.startPage - 1}, recordSize=${params.recordSize}, pageSize=${params.pageSize}, keyword=${params.keyword}, searchType=${params.searchType})}">
                <span>&lsaquo;</span>
            </a>
        </li>

        <li class="a"
            th:each="page : ${#numbers.sequence(articlesResponse.paginationVo.startPage, articlesResponse.paginationVo.endPage)}">

            <a th:href="@{/board/search (page=${page}, recordSize=${params.recordSize},pageSize=${params.pageSize}, searchType=${params.searchType}, keyword=${params.keyword})}"
               th:text="${page}"
               th:if="${page != params.page}"
               th:style="${articlesResponse.list.size()} == 0 ? 'display:none': ''"></a>

            <a th:text="${'[' + page + ']'}"
               th:if="${page == params.page}"></a>
        </li>

        <li>
            <a th:if="${params.paginationVo.existNextPage}"
               th:href="@{/board/search (page=${params.paginationVo.endPage + 1}, recordSize=${params.recordSize}, pageSize=${params.pageSize},searchType=${params.searchType}, keyword=${params.keyword})}">
                <span>&rsaquo;</span>
            </a>
        </li>
        <li>
            <a th:if="${params.paginationVo.existNextPage}"
               th:href="@{/board/search (page=${params.paginationVo.totalPageCount}, recordSize=${params.recordSize},pageSize=${params.pageSize}, searchType=${params.searchType}, keyword=${params.keyword})}">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</section>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>