<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="get" type="dev.junpring.scribble.entities.board.BoardIdEntity"*/-->
<!--/*@thymesVar id="userEntity" type="dev.junpring.scribble.entities.member.UserEntity"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 읽기</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/view.css}">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
    <script th:src="@{/board/resources/scripts/view.js}" defer></script>
    <script th:src="@{/board/resources/scripts/comment-add.js}" defer></script>
    <script th:src="@{/board/resources/scripts/delete.js}" defer></script>
    <script th:if="${articleVo != null && articleVo.getResult().name().equals('FAILURE')}">
        alert('해당 게시물은 존재하지 않습니다.');
        window.history.back();
    </script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<section class="section">
    <div class="article-head-wrap">
        <div class="article-head">
            <a th:href="@{'/board/' + ${articleVo.getBoardId()}}" th:text="${articleVo.getName()}"
               class="article-board"></a>
            <a th:text="${articleVo.getTitle()}" class="article-title"></a>
        </div>

        <div class="article-body">
            <a th:text="${articleVo.getUserNickname()}" class="article-user"></a>
            <a class="c-line" href="#">∣</a>
            <a th:text="*{#dates.format(articleVo.getWrittenAt(), 'yy.MM.dd HH:mm')}"></a>
        </div>

        <div class="article-foot">
            <a href="#" class="cell col4">
                <img class="icon" src="/resources/images/comment-purple.png" alt="댓글">
                <span th:text="${commentListVo.getComments().size()}" class="comment count"></span>
            </a>
            <a href="#" class="cell col5">
                <img class="icon" src="/resources/images/view-purple.png" alt="조회수">
                <span th:text="${articleVo.getView()}" class="view count"></span>
            </a>
            <span class="buttons"
                  th:if="${userEntity != null && articleVo.getUserEmail().equals(userEntity.getEmail())}">
                <a class="modify-button" th:href="@{/board/modify (pid=${articleVo.getIndex()})}">수정</a>
                <a class="c-line">∣</a>
                <a id="delete" class="delete-button" th:href="@{/board/delete (pid=${articleVo.getIndex()})}">삭제</a>
            </span>
            <span class="info-fnc">
                <a class="mark"><i class="icon fa-solid fa-book-bookmark"></i></a>
                <a class="more">⋯</a>
                <div class="more-popper">
                    <a class="url-link">
                        <i class="icon fa-solid fa-link"> 링크 복사</i>
                    </a>
                </div>

            </span>


        </div>
    </div>

    <div class="article-content">
        <span th:utext="${articleVo.getContent()}"></span>
        <div class="article-info">
            <a href="#" class="btn like">
                <img class="icon" src="../resources/images/like-purple.png" alt="공감">
                <span>좋아요</span>
            </a>
            <a class="btn cmt">
                <img class="icon" src="../resources/images/comment-purple.png" alt="댓글">
                <span class="comment count" th:text="${commentListVo.getComments().size()}"></span>
            </a>

            <div class="share">

            </div>
        </div>
    </div>

    <div class="article-comment">
        <h3 th:text="${'댓글 ' + commentListVo.getComments().size() + '개'}"></h3>
        <form th:action="@{board/comment-add}" id="comment-form" method="post">
            <label class="label">
                <input name="articleIndex" type="hidden" th:value="${articleVo.getIndex()}">
                <textarea class="comment-input" maxlength="700" name="content" placeholder="댓글을 입력하세요."
                          spellcheck="false"></textarea>
            </label>
            <input class="comment-btn" type="submit" value="등록">
        </form>
        <span th:if="${commentListVo.getComments().size() == 0}">표시할 댓글이 없습니다.</span>

        <div class="wrap-comment comment_area" th:each="comment : ${commentListVo.getComments()}">
            <p class="nickname" th:text="*{comment.getNickname}"></p>
            <p class="cmt-txt" th:text="*{comment.getContent()}"></p>
            <div class="wrap-info">
                <span class="date">
                    <p class="write-at" th:text="*{#dates.format(comment.getWrittenAt(), 'yy.MM.dd HH:mm')}">작성한 시간</p>
                </span>
                <span class="ico">
                    <a href="#" class="cell col4">
                        <img class="icon" src="/resources/images/comment-purple.png" alt="댓글">
                        <span th:text="${commentListVo.getComments().size()}" class="comment count"></span>
                    </a>
                    <a href="#" class="cell col5">
                        <img class="icon" src="/resources/images/view-purple.png" alt="조회수">
                        <span th:text="${articleVo.getView()}" class="view count"></span>
                    </a>
                </span>
            </div>
        </div>
        <!-- wrap-reply -->
        <div class="wrap-reply">
            <div class="wrap-comment comment_area" th:each="comment : ${commentListVo.getComments()}">
                <p class="nickname">대댓글</p>
                <p class="cmt-txt" th:text="*{comment.getContent()}"></p>
                <div class="wrap-info">
                <span class="date">
                    <p class="write-at" th:text="*{#dates.format(comment.getWrittenAt(), 'yy.MM.dd HH:mm')}">작성한 시간</p>
                </span>
                    <span class="ico">
                    <a href="#" class="cell col4">
                        <img class="icon" src="/resources/images/comment-purple.png" alt="댓글">
                        <span th:text="${commentListVo.getComments().size()}" class="comment count"></span>
                    </a>
                    <a href="#" class="cell col5">
                        <img class="icon" src="/resources/images/view-purple.png" alt="조회수">
                        <span th:text="${articleVo.getView()}" class="view count"></span>
                    </a>
                </span>
                </div>
            </div>
        </div>

    </div>

</section>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>