<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="get" type="dev.junpring.scribble.entities.board.BoardEntity"*/-->
<!--/*@thymesVar id="userEntity" type="dev.junpring.scribble.entities.member.UserEntity"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/write.css}">
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/board/resources/scripts/write.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<form id="main" class="main" method="post" >
    <label class="label">
        <select autofocus class="category" name="boardCode">
            <option value="none">게시판을 선택해 주세요.</option>
            <option value="stock">주식·투자</option>
            <option value="realestate">부동산</option>
            <option value="free">자유게시판</option>
            <option value="exercise">헬스·다이어트</option>
            <option value="bitcoin">비트코인</option>
            <option value="car">자동차</option>
            <option value="love">썸·연애</option>
            <option value="shopping">쇼핑</option>
            <option value="corona">코로나</option>
            <option value="sports">스포츠</option>
            <option value="pet">반려동물</option>
            <option value="humor">유머저장소</option>
            <option value="travel">여행</option>
            <option value="parenting">육아</option>
            <option value="fashion">패션·뷰티</option>
            <option value="game">게임</option>
            <option value="tv">TV·연예</option>
            <option value="scribble-market">스블마켓</option>
            <option value="promotion">홍보·소문내기</option>
        </select>
        <input class="input" maxlength="40" name="title" placeholder="글 제목을 입력해주세요." type="text">
    </label>
    <label class="label">
        <textarea class="editor" name="content" id="editor" spellcheck="false"></textarea>
    </label>
    <div class="buttons">
        <input id="cancel-button" class="button white" type="button" value="취소하기">
        <input class="button purple" type="submit" value="작성하기">
    </div>

</form>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>