@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
@import "header.css";
@import "footer.css";

:root {
    --content-max-width: 60rem;
    --color-green--: #2bae66;
    --color-purple--: #6167b2;
    --color-red--: #f86161;
}

html {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

a:link, a:visited {
    color: unset;
    text-decoration: unset;
}

body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: flex-start;
    margin: unset;
    position: absolute;
    overflow-x: hidden;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}

input, select {
    background-color: unset;
    border: unset;
    border-image: unset;
    box-sizing: border-box;
    color: unset;
    font: unset;
    margin: unset;
    outline: unset;
    padding: unset;
    /*width: 100%;*/
    /*appearance: none;*/
    /*-webkit-appearance:none; !* for chrome *!*/
}

ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}

/* loader */
.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 15%);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}
.loader-container.visible {
    opacity: 1;
    pointer-events: all;
}
@media (max-width: 700px) {
    .loader-container {
        /*width: 50%;*/
    }

    .loader-container:nth-child(2n-1) {
        /*background-color: inherit;*/
    }

    .loader-container:nth-child(4n), .loader-container:nth-child(4n-3) {
        /*background-color: rgba(0, 0, 0, 0.05);*/
        /*background-color: #6167b2;*/
    }

}

@media (max-width: 420px) {
    .box {
        width: 100%;
    }

    .box:nth-child(4n), .box:nth-child(4n-3) {
        background-color: inherit;
    }

    .box:nth-child(2n-1) {
        background-color: rgba(0, 0, 0, 0.05);
        /*background-color: #6167b2;*/
    }

}

.loader {
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    top: 50%;
    top: -webkit-calc(50% - 6px);
    top: calc(50% - 6px);
    left: 46%;
    left: -webkit-calc(50% - 6px);
    left: calc(50% - 6px);
    border-radius: 12px;
    background-color: rgba(97, 103, 173);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: loader 1s ease-in-out infinite;
    animation: loader 1s ease-in-out infinite;
}

.loader:before {
    content: "";
    position: absolute;
    background-color: rgba(97, 103, 173, 40%);
    top: 0px;
    left: -25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}

.loader:after {
    content: "";
    position: absolute;
    background-color: rgba(97, 103, 173, 40%);
    top: 0px;
    left: 25px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
}


@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
