@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");
@import "header.css";
@import "footer.css";

:root {
    --content-max-width: 60rem;
    --color-green--: #2bae66;
    --color-purple--: #6167b2;
    --color-red--: #f86161;
}

html {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

a:link, a:visited {
    color: unset;
    text-decoration: unset;
}

body {
    width: 100%;
    min-height: 100%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: flex-start;
    margin: unset;
    position: absolute;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin-block: unset;
    margin-inline: unset;
}

input, select {
    background-color: unset;
    border: unset;
    border-image: unset;
    box-sizing: border-box;
    color: unset;
    font: unset;
    margin: unset;
    outline: unset;
    padding: unset;
    /*width: 100%;*/
    /*appearance: none;*/
    /*-webkit-appearance:none; !* for chrome *!*/
}

ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}

