@charset "UTF-8";
body > .footer {
    width: 100vw;
    height: 5rem;
    border-top: 1px solid #dbdbdb;
}

body > .footer > .footer-nav {
    width: var(--content-max-width);
    transform: translateX(-50%);
    top: 10%;
    left: 50%;
    position: relative;
    color: #94969b;
}

body > .footer > .footer-nav > ul {
    display: flex;
    flex-direction: row;
    padding: 1.7rem 2rem  1rem 0;
}

body > .footer > .footer-nav > ul > li{
    margin-right: 1.3rem;
}
body > .footer > .footer-nav > ul > li > a {
    font-weight: 500;
}

body > .footer > .footer-nav > span {
    padding: 1.5rem 2rem 2.5rem 0;
}

/*back to top*/

.back-to-top {
    margin-bottom: 30%;
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid var(--color-purple--);
    color: var(--color-purple--);
    padding: 1em;
    /*text-transform: uppercase;*/
    cursor: pointer;
    font-weight: 700;
    /*box-shadow: 0 0 1em 0 rgba(0, 0, 0, .25);*/
    transition: 500ms;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: .75em;
}

.back-to-top:hover {
    background-color: var(--color-purple--);
    padding: 1em 2em;
    color:white;
}

.back-to-top.visible {
    opacity: 1;
}