body > .header {
    width: 100vw;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
}
body > .header > .nav {
    width: var(--content-max-width);
    display: flex;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background-color: #ffffff;
    z-index: 999;
    padding: 2rem 0 1rem 0;
}

body > .header > .nav > .nav-bar {
    display: flex;
    flex-direction: row;
}
body > .header > .nav > .nav-bar > a:first-child {
    line-height: 1.5rem;
}

body > .header > .nav > .nav-bar > .logo > li {
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 0.3rem;
}

body > .header > .nav > .nav-bar > a > li {
    margin-right: 1.8rem;
    font-size: 1.2rem;
}


body > .header > .nav > .nav-button {
    line-height: 1.4rem;
    position: absolute;
    right: 0;
}

body > .header > .nav > .nav-button > a {
    margin-left: 0.625rem;
    width: 5rem;
    height: 2.5rem;
    font-weight: 700;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

body > .header > .nav > .nav-button > .write {
    border: none;
    background-color: var(--color-purple--);
    color: #ffffff;
    position: relative;
}

body > .header > .nav > .nav-button > .write:hover {
    background-color: #ffffff;
    border: 1px solid
    var(--color-purple--);
    transition: 100ms;
}

body > .header > .nav > .nav-button > .write:hover > .icon {
    opacity: 100;
    color: var(--color-purple--);
}
body > .header > .nav > .nav-button > .write > .icon {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 1.2rem;
    top: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
}

body > .header > .nav > .nav-button > .login {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    color: #252222;
    transition-duration: 100ms;
}
body > .header > .nav > .nav-button > .login:hover {
    border: 1px solid var(--color-purple--);
    background-color: var(--color-purple--);
    color: #ffffff;
}

body > .header > .nav > .nav-button > .register {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    color: #252222;
    transition-duration: 100ms;
}
body > .header > .nav > .nav-button > .nickname {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    color: #252222;
}

body > .header > .nav > .nav-button > .register:hover {
    border: 1px solid var(--color-purple--);
    background-color: var(--color-purple--);
    color: #ffffff;
}

body > .header > .nav > .nav-button > .logout {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
    color: #252222;
    transition-duration: 100ms;
}
body > .header > .nav > .nav-button > .logout:hover {
    border: 1px solid var(--color-red--);
    background-color: var(--color-red--);
    color: #ffffff;
}


/*search*/


.search > .search-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 30%;

}

.search > .search-form > .select-container {
    padding-right: 1.2rem;
}

.search > .search-form > .select-container > .search-select {
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
}


.search > .search-form > .keyword-input-container > .keyword-input {
    height: 2.64rem;
    border-radius: 5rem;
    border: 1px solid #d9d9d9;
    padding: 0.7rem 1rem 0.7rem 2.6rem;
}


.search > .search-form > .keyword-input-container > .keyword-input:focus {
    border: 1px solid var(--color-purple--);
    filter: brightness(130%);
}

.search > .search-form > .keyword-input-container > .keyword-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.search > .search-form > .search-button {
    top: 50%;
    left: 5rem;
    appearance: none;
    background-color: unset;
    border: none;
    cursor: pointer;
    margin: unset;
    padding: unset;
    position: absolute;
    transform: translateY(-50%);
}

.search > .search-form > .search-button > .icon {
    color: var(--color-purple--);
    font-size: 1rem;
}