body > .header {
    width: 100vw;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    z-index: 999;
    background-color: #ffffff;
}


body > .header > .top-bar {
    width: 100%;
    align-items: center;
    background-color: rgb(240, 239, 239, 40%);
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

body > .header > .top-bar > .list {
    width: var(--content-max-width);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body > .header > .top-bar > .list > .spring {
    flex: 1;
}

body > .header > .top-bar > .list > .item + .item {
    margin-left: 0.75rem;
}
body > .header > .top-bar > .list > .item > #favorite {
    cursor: pointer;
}


body > .header > .nav {
    width: var(--content-max-width);
    display: flex;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    background-color: #ffffff;
    z-index: 999;
    padding: 2rem 0 1rem 0;
}

body > .header > .nav > .nav-bar {
    display: flex;
    flex-direction: row;
}
body > .header > .nav > .nav-bar > a:first-child {
    line-height: 1.5rem;
}

body > .header > .nav > .nav-bar > .logo > li {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 0.3rem;
}

body > .header > .nav > .nav-bar > a > li {
    margin-right: 1.8rem;
    font-size: 1.2rem;
}



/*search*/
.search > .search-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 30%;

}

.search > .search-form > .select-container {
    padding-right: 1.2rem;
}

.search > .search-form > .select-container > .search-select {
    font-size: 0.9rem;
    /*border: none;*/
    border-radius: 0.7rem;
    border:1px solid rgb(217, 217, 217);
    color: rgb(133, 133, 133);
    cursor: pointer;
}


.search > .search-form > .keyword-input-container > .keyword-input {
    height: 2.64rem;
    border-radius: 5rem;
    border: 1px solid #d9d9d9;
    padding: 0.7rem 1rem 0.7rem 2.6rem;
}


.search > .search-form > .keyword-input-container > .keyword-input:focus {
    border: 1px solid var(--color-purple--);
    filter: brightness(130%);
}

.search > .search-form > .keyword-input-container > .keyword-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.search > .search-form > .search-button {
    top: 50%;
    left: 5rem;
    appearance: none;
    background-color: unset;
    border: none;
    cursor: pointer;
    margin: unset;
    padding: unset;
    position: absolute;
    transform: translateY(-50%);
}

.search > .search-form > .search-button > .icon {
    color: var(--color-purple--);
    font-size: 1rem;
}






/*------------*/
body > .header > .nav  > .my {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 1.2rem;
}

body > .header > .nav > .my > .item + .item {
    margin-left: 1.25rem;
}

body > .header > .nav > .my > .item > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-weight: 400;
}


body > .header > .nav > .my > .item > .link > .icon {
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    margin-bottom: 0.425rem;
}

body > .header > .nav > .my > .item > .link > .count {
    top: -0.625rem;
    right: 0.325rem;
    height: 1.25rem;
    align-items: center;
    background-color: var(--color-purple--);
    border-radius: 10rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 600;
    justify-content: center;
    padding: 0 0.375rem;
    position: absolute;
}