@charset "UTF-8";




/*----------------------------------------------*/

.section {
    width: var(--content-max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-bottom: 10rem;
}

.section > .table {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: 1 / 3;


}
.section > .table > .top-posts {
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dbdbdb;
}

.section > .table > .top-posts > .best {
    font-size: 1.4rem;
    font-weight: 500;
}

.section > .table > .top-posts > .icon{
    font-size: 1.4rem;
    margin-right: 0.4rem;
}

.section > .table > .top-posts > .view-more{
    position: absolute;
    top: 1rem;
    right: 0;
    font-weight: 500;
}

.section > .table > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/*-----------------cell------------------------*/
.section > .table > .row > .cell {
    display: table-cell;
    padding: 0.2rem;
}

.section > .table > .row > .col1 {
    border: 1px solid #dbdbdb;
    border-radius: 1rem;
    width: 8%;
    font-size: 0.85rem;
    text-align: center;
    font-weight: 500;
}

.section > .table > .row > .col2 {
    width: 70%;
    font-weight: 500;
}

.section > .table > .row > .col3 {
    width: 2.5rem;
    text-align: center;
}
.section > .table > .row > .col4 {
    width: 2.5rem;
    text-align: center;
}
.section > .table > .row > .col5 {
    width: 2.5rem;
    text-align: center;
}

.section > .table > .row > .cell > .count {
    font-size: 0.8rem;
    color: #6167b2;
    vertical-align: top
}

/* icon */
.section > .table > .row > .cell > .icon {
    width: 13px;
    height: 13px;
}
.section > .table > .board-line {
    border-bottom: 3px solid #afb3ea;
    height: 4rem;
}


/*-------------small table---------------------*/

.section > .table-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section > .table-wrap > .small-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-block-end: 3rem;
    /*margin-block-start: 3rem;*/
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}


.section > .table-wrap > .small-table > .top-posts {
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dbdbdb;
}

.section > .table-wrap > .small-table > .top-posts > .icon {
    font-size: 1.4rem;
    padding-right: 0.452rem;
}
.section > .table-wrap > .small-table > .top-posts > .article-title {
    font-size: 1.4rem;
    font-weight: 500;
}
.section > .table-wrap > .small-table > .top-posts > .view-more{
    position: absolute;
    top: 1rem;
    right: 0;
    font-weight: 500;
}
.view-more:hover {
    color: var(--color-purple--);
}

.section > .table-wrap > .small-table > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 100ms;
    padding: 0.620rem 0.450rem 0.450rem 0.450rem;
}

.section > .table-wrap > .small-table > .row:hover {
    color: var(--color-purple--);
    background-color: #f3ebeb;
}

/*-----------------cell------------------------*/
.section > .table-wrap > .small-table > .row > .cell {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.section > .table-wrap > .small-table > .row > .col2 {
    width: 65%;
    font-weight: 500;
    padding-bottom: 2.5px;
}
.section > .table-wrap > .small-table > .row > .col3 {
    width: 2.4rem;
    text-align: center;
}
.section > .table-wrap > .small-table > .row > .col4 {
    width: 2.4rem;
    text-align: center;
}
.section > .table-wrap > .small-table > .row > .col5 {
    width: 2.5rem;
    text-align: center;
}
.section > .table-wrap > .small-table > .row > .cell > .count {
    font-size: 0.8rem;
    color: #6167b2;
    vertical-align: top
}
/* icon */
.section > .table-wrap > .small-table > .row > .cell > .icon {
    width: 13px;
    height: 13px;
}