<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <link th:href="@{/user/resources/stylesheets/login.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c5c7df7a64.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/user/resources/scripts/login.js}"></script>
    <script th:if="${userEntity != null}">
        location.href = '/';
    </script>
</head>
<body>
<form id="login-form" class="login-form" method="post">
    <a th:href="@{/}" class="logo-container">
<!--        <img alt="Coupang" class="logo" th:src="@{/resources/images/logo.png}">-->
        SCRIBBLE
    </a>
    <label class="input-container">
<!--        <i class="icon fa-solid fa-envelope"></i>-->
        <span hidden>이메일</span>
        <input autofocus class="input" maxlength="50" name="email" placeholder="아이디(이메일)" type="email">
    </label>
    <label class="input-container">
<!--        <i class="icon fa-solid fa-lock"></i>-->
        <span hidden>비밀번호</span>
        <input class="input" maxlength="50" name="password" placeholder="비밀번호" type="password">
    </label>
    <div class="sub">
        <label class="autosign-container">
            <input class="checkbox" name="remember-me" type="checkbox" value="true">
            <span class="checker">
                <i class="icon fa-solid fa-check"></i>
            </span>
            <span class="text">로그인유지</span>
        </label>
        <div class="forgot">
            <i class="fa-solid fa-lock"></i>
            <a class="link" th:href="@{/user/find-email}">아이디 찾기</a>
            <a class="link"> · </a>
            <a class="link" th:href="@{/user/recover}">비밀번호 찾기</a>
        </div>


    </div>
    <input class="button login" type="submit" value="로그인">
    <span class="copyright">아직 회원이 아니신가요? <a th:href="@{/user/register}">회원가입</a></span>
</form>
</body>
</html>