@charset "UTF-8";

.section {
    width: var(--content-max-width);
    margin-top: 8rem;
}

.section > .board-type {
    padding: 0.7rem;
    margin-top: 1rem;
    position: relative;
}

.section > .board-type > .icon {
    font-size: 1.4rem;
    padding-right: 0.2rem;
}

.section > .board-type > .board-name {
    font-size: 1.4rem;
    font-weight: 500;
}

/* icon */
.section > .table > tbody > tr > td > a > .icon {
    width: 14px;
    height: 14px;
}


/*---------------table--------------- */

.section > .table {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.section > .table > thead > tr > th {
    text-align: center;
    border-top: 2px solid var(--color-purple--);
    border-bottom: 1px solid #dbdbdb;
    padding: 0.6rem;
}

.section > .table > tbody > .article {
    border-bottom: 1px solid #dbdbdb;

    /*height: 5rem;*/
    transition-duration: 200ms;
}

.section > .table > tbody > .article:hover {
    background-color: #f3ebeb;
}

.section > .table > tbody > .article > td {
    text-align: center;
    height: 6.4rem;
}

.section > .table > tbody > .article > .write-at {
    font-size: 0.8rem;
}

.section > .table > tbody > .article > .title {
    display: flex;
    align-items: center;
}

.section > .table > tbody > .article > .title > a {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: left;
}

.section > .table > tbody > .article > .title > .category {
    font-size: 1.1rem;
    font-weight: 700;
    width: 70%;
}
.section > .table > tbody > .article > .title > a:nth-child(2) {
    width: 70%;
}


.section > .table > tbody > .article > .title > p {
    display: none;
}

.section > .table > tbody > .article > .title:hover {
    color: var(--color-purple--);
}

.section > .table > tbody > .article > td > a > .icon + .count {
    color: var(--color-purple--);
    bottom: 0.1rem;
    position: relative;
}


.section > .table > tbody > .article > .title > .content {
    width: 40%;
    margin-left: 3rem;
}

.section > .table > tbody > .article > .title > .content > p {
    display: none;
    font-size: 0.4rem;
}

.section > .table > tbody > .article > .title > .content > p > img {
    width: 4rem;
    height: 4rem;
}

.section > .table > tbody > .article > .title > .content > .image {
    width: 30%;
    margin-left: -0.020rem;
}

.section > .table > tbody > .article > .title > .content > .image > img {
    width: 5rem;
    height: 5rem;
}

.section > .table > tbody > .article > .title > .content > p:nth-child(2) {
    display: block;
}


/*pagination*/

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.pagination > li {
    margin: 0.5rem;
}
