@charset "UTF-8";
@import "detail.rcmd.css";
@import "detail.comments.css";


body > .container {
    width: var(--content-max-width);
    margin-top: 9rem;
}

body > .container > .article-head-wrap {
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}

body > .container > .article-head-wrap > .article-head {
    display: flex;
    flex-direction: column;
}

body > .container > .article-head-wrap > .article-head > .article-board {
    font-size: 1rem;
    font-weight: 500;
}

body > .container > .article-head-wrap > .article-head > .article-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.8rem 0;
}
body > .container > .article-head-wrap > .article-body {
    font-size: 0.9rem;
    color: #94969b;
    font-weight: 500;
}
body > .container > .article-head-wrap > .article-body > .article-user {
    color: #6167b2;

}
body > .container > .article-head-wrap > .article-body > .line {
    padding: 0.5rem;
    color: #6167b2;
}

body > .container > .article-head-wrap > .article-foot {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
body > .container > .article-head-wrap > .article-foot > .cell {
    font-size: 0.8rem;
    width: 2rem;
    margin-right: 1rem;
    color: var(--color-purple--);
}

body > .container > .article-head-wrap > .article-foot > .cell > .icon {
    width: 13px;
    height: 13px;
}

body > .container > .article-head-wrap > .article-foot > .cell > .count {
    vertical-align: top;
}

body > .container > .article-head-wrap > .article-foot > .info-fnc {
    position: absolute;
    right: 0;
}

body > .container > .article-head-wrap > .article-foot > .info-fnc > .more {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;

}
body > .container > .article-head-wrap > .article-foot > .info-fnc > .more-popper {
    display: none;
}

body > .container > .article-head-wrap > .article-foot > .info-fnc > .more-popper >.url-link {
    width: 6rem;
    top: 1.7rem;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 0.2rem;
    position: absolute;
    z-index: 1;
}

body > .container > .article-head-wrap > .article-foot > .info-fnc > .more-popper > .url-link > li {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin: 0.5rem;
}
body > .container > .article-head-wrap > .article-foot > .info-fnc > .more-popper > .url-link > li > .url-link-copy {
    cursor: pointer;
}

body > .container > .article-head-wrap > .article-foot > .info-fnc > .more-popper > .url-link > li > a:hover {
    color: #f86161;
}


/*article-content-wrap*/
body > .container > .article-content {
    margin-top: 3rem;
    padding-bottom: 2.8rem;
    border-bottom: 1px solid #dbdbdb;
}
body > .container > .article-content img {
    max-width: 80%;
    position: relative;
}
body > .container > .article-content > span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
body > .container > .article-content > span a {
    color: #6167b2;
}
body > .container > .article-content > span a:hover {
    text-decoration: underline;
}
body > .container > .article-content > span a:target {

}
body > .container > .article-content > .article-info {
    margin-top: 3rem;
    color: var(--color-purple--);
    font-size: 1rem;
    font-weight: 400;
}

body > .container > .article-content > .article-info > .btn {
    cursor: pointer;
    padding-right: 1rem;
    user-select: none;
}
body > .container > .article-content > .article-info > .btn > .icon{
    width: 1rem;
    height: 0.9rem;
}
body > .container > .article-content > .article-info > .btn > span {
    vertical-align: top;
}




