@charset "UTF-8";

body > .section {
    width: var(--content-max-width);
    margin-top: 2.2rem;
}

body > .section > .article-head-wrap {
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}

body > .section > .article-head-wrap > .article-head {
    display: flex;
    flex-direction: column;
}

body > .section > .article-head-wrap > .article-head > .article-board {
    font-size: 1rem;
    font-weight: 500;
}

body > .section > .article-head-wrap > .article-head > .article-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.8rem 0;
}
body > .section > .article-head-wrap > .article-body {
    font-size: 0.9rem;
    color: #94969b;
    font-weight: 500;
}
body > .section > .article-head-wrap > .article-body > .article-user {
    color: #6167b2;

}
body > .section > .article-head-wrap > .article-body > .line {
    padding: 0.5rem;
    color: #6167b2;
}

body > .section > .article-head-wrap > .article-foot {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
body > .section > .article-head-wrap > .article-foot > .cell {
    font-size: 0.8rem;
    width: 2rem;
    margin-right: 1rem;
    color: var(--color-purple--);
}

body > .section > .article-head-wrap > .article-foot > .cell > .icon {
    width: 13px;
    height: 13px;
}

body > .section > .article-head-wrap > .article-foot > .cell > .count {
    vertical-align: top;
}

body > .section > .article-head-wrap > .article-foot > .info-fnc {
    position: absolute;
    right: 0;
}

body > .section > .article-head-wrap > .article-foot > .info-fnc > .more {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;

}
body > .section > .article-head-wrap > .article-foot > .info-fnc > .more-popper {
    display: none;
}

body > .section > .article-head-wrap > .article-foot > .info-fnc > .more-popper >.url-link {
    width: 6rem;
    top: 1.7rem;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 0.2rem;
    position: absolute;
    z-index: 1;
}

body > .section > .article-head-wrap > .article-foot > .info-fnc > .more-popper > .url-link > li {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin: 0.5rem;
}
body > .section > .article-head-wrap > .article-foot > .info-fnc > .more-popper > .url-link > li > .url-link-copy {
    cursor: pointer;
}

body > .section > .article-head-wrap > .article-foot > .info-fnc > .more-popper > .url-link > li > a:hover {
    color: #f86161;
}


/*article-content-wrap*/
body > .section > .article-content {
    margin-top: 3rem;
    padding-bottom: 2.8rem;
    border-bottom: 1px solid #dbdbdb;
}
body > .section > .article-content img {
    max-width: 100%;
    position: relative;
}
body > .section > .article-content > span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
body > .section > .article-content > .article-info {
    margin-top: 3rem;
    color: var(--color-purple--);
    font-size: 1rem;
    font-weight: 400;
}

body > .section > .article-content > .article-info > .btn {
    cursor: pointer;
    padding-right: 1rem;
}
body > .section > .article-content > .article-info > .btn > .icon{
    width: 1rem;
    height: 0.9rem;
}
body > .section > .article-content > .article-info > .btn > span {
    vertical-align: top;
}

/*reply-wrap*/
body > .reply-wrap {
    width: var(--content-max-width);
    position: relative;
}

body > .reply-wrap > form > .content {
    width: 100%;
    height: 5rem;
    border: 1px solid #94969b;
    border-radius: 0.3rem;
    font-family: 'Pretendard', sans-serif;
    resize: none;
    margin-bottom: 0.4rem;
}

body > .reply-wrap > form > .write-reply {
    padding: 0.4rem 4%;
    background-color: var(--color-purple--);
    color: #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    position: absolute;
    right: 0;
}

/*r-area*/
body > .reply-wrap > .reply-count-b {
    padding: 1.2rem 0;
    font-size: 1rem;
    font-weight: 700;
}
body > .reply-wrap > .reply-box {
    margin-top: 4rem;
}
body > .reply-wrap > .reply-box > .reply-area{
    padding: 0.8rem;
    border-top: 1px solid #dbdbdb;
}

body > .reply-wrap > .reply-box > .reply-area > li {
    padding: 0.4rem 0.2rem 0.7rem 0;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-first-line {
    display: flex;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-first-line > .reply-writer {
    color: var(--color-purple--);
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 0.2rem;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-first-line > li:nth-child(2) {
    margin-right: 0.2rem;
    color: #94969b;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-first-line > .reply-email {
    color: #94969b;
    font-size: 0.1rem;
    font-weight: 500;
    line-height: 1rem;

}

body > .reply-wrap > .reply-box > .reply-area > .reply-second-line {
    display: flex;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-second-line > .reply-content {
    font-size: 1rem;
    font-weight: 400;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-second-line > .reply-written-at {
    color: #94969b;
    font-size: 0.8rem;
    font-weight: 500;
}

body > .reply-wrap > .reply-box > .reply-area > .reply-second-line > .reply-btn{
    font-size: 0.8rem;
    position: absolute;
    right: 0;
}

.reply-empty {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1rem;
}

/*reply modify delete */
.reply-wrap > .reply-box .loading-delete-msg {
    display: none;
    font-weight: bold;
    color: #f86161;
}
.reply-wrap > .reply-box .loading-none {
    cursor: pointer;
}
.reply-wrap > .reply-box .reply-area[data-loading="Y"] .loading-none {
    cursor: pointer;
    display: none;
}
.reply-wrap > .reply-box .reply-area[data-loading="Y"][data-loading-delete="Y"] .loading-delete-msg {
    display: inline;
}
.reply-wrap > .reply-box .reply-area[data-loading="Y"][data-loading-delete="Y"] .modify-button {
    display: none;
}

.reply-wrap > .reply-box .reply-area[data-modify-mode="Y"] .modify-mode-none{
    display: none;
}
.reply-wrap > .reply-box .modify-mode-inline {
    display: none;
    cursor: pointer;
}
.reply-wrap > .reply-box .modify-mode-block {
    display: none;
}

.reply-wrap > .reply-box > .reply-area[data-modify-mode="Y"] .modify-mode-block {
    display: block;
}

.reply-wrap > .reply-box > .reply-area[data-modify-mode="Y"] .modify-mode-inline {
    display: inline;
}
.modify-button {
    cursor: pointer;
}
.reply-wrap > .reply-box .loading-modify-msg {
    font-weight: bold;
    color: #f86161;
    display: none;
}
.reply-wrap > .reply-box > .reply-area[data-loading="Y"][data-loading-modify="Y"] .loading-modify-msg {
    display: inline;
}
.reply-wrap > .reply-box > .reply-area[data-loading="Y"][data-loading-modify="Y"] .modify-mode-inline {
    display: none;
}


/**/
.reply-wrap > .reply-box .reply-area .loading-modify-inline {
    padding: 0.4rem 4%;
    background-color: var(--color-purple--);
    color: #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
